{% extends "base.html" %}
{% block content %}
<section id="services" class="py-5 bg-light">
    <div class="text-center my-5">
        <h2 class="fw-bold mb-4">Our Services</h2>
        <p>Discover what we offer to help you achieve your fitness goals.</p>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <div class="card">
                <img src="/static/images/3.png" class="card-img-top" alt="Personal Training">
                <div class="card-body">
                    <h5 class="card-title">Personal Training</h5>
                    <p class="card-text">Customized plans tailored to your needs.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/images/4.png" class="card-img-top" alt="Group Classes">
                <div class="card-body">
                    <h5 class="card-title">Group Classes</h5>
                    <p class="card-text">Motivating and fun fitness sessions.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/images/5.png" class="card-img-top" alt="Nutrition Counseling">
                <div class="card-body">
                    <h5 class="card-title">Nutrition Counseling</h5>
                    <p class="card-text">Expert advice to fuel your fitness goals.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/static/images/6.png" class="card-img-top" alt="State-of-the-Art Equipment">
                <div class="card-body">
                    <h5 class="card-title">State-of-the-Art Equipment</h5>
                    <p class="card-text">Top-notch facilities for every workout.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
